
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487387863160'); /* IE9*/
  src: url('iconfont.eot?t=1487387863160#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487387863160') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487387863160') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487387863160#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin2:before { content: "\f02b5"; }

.icon-arrow:before { content: "\e608"; }

.icon-shijian:before { content: "\e6fb"; }

.icon-rmb:before { content: "\e61b"; }

.icon-xing:before { content: "\e60f"; }

.icon-chudianfantuan:before { content: "\ea07"; }

.icon-juli:before { content: "\e63f"; }

.icon-piao:before { content: "\e607"; }

.icon-jiantou-copy-copy:before { content: "\e600"; }

.icon-fu:before { content: "\e649"; }

.icon-xin:before { content: "\e606"; }

.icon-chushimaoline:before { content: "\e8c9"; }

.icon-bisapizza5:before { content: "\e603"; }

.icon-jiage:before { content: "\e610"; }

.icon-shaniaologo:before { content: "\e640"; }

.icon-zhun1:before { content: "\e60a"; }

.icon-huo:before { content: "\e677"; }

.icon-hanbao:before { content: "\e669"; }

.icon-xing1:before { content: "\e615"; }

.icon-bao:before { content: "\e609"; }

