<div class="warp">
    <div class="m-box">
        <ul>
            <li>美食<span class="num"><span class="all">2000</span></span></li>
            <li ui-sref="meishi.snack" ui-sref-active="a"><i class="icon-font" style="font-size: 20px;color: #F39867">&#xe669;</i> 快餐便当<span class="num"><span>1052</span><i class="icon-font">&#xe608;</i></span>
            </li>
            <li ui-sref="meishi.feature" ui-sref-active="a"><i class="icon-font" style="font-size: 20px;color: #F4C176">&#xe8c9;</i> 特色菜系<span class="num"><span>487</span><i class="icon-font">&#xe608;</i></span>
            </li>
            <li ui-sref="meishi.arrange" ui-sref-active="a"><i class="icon-font" style="font-size: 20px;color: #F39867">&#xe603;</i> 异国料理<span class="num"><span>379</span><i class="icon-font">&#xe608;</i></span>
            </li>
            <li ui-sref="meishi.food" ui-sref-active="a"><i class="icon-font" style="font-size: 20px;color: #8FC96E">&#xea07;</i> 小吃夜宵<span class="num"><span>471</span><i class="icon-font">&#xe608;</i></span></li>
        </ul>
        <div ui-view class="particulars"></div>
    </div>
</div>

