<div class="warp">
    <ul class="p-ul">
        <li><i class="icon-font" style="color:#5396CE">&#xe610;</i>智能排序</li>
        <li><i class="icon-font" style="color:#5FB3DE">&#xe63f;</i>距离最近</li>
        <li><i class="icon-font" style="color:#F17C7C">&#xe677;</i>销量最高</li>
        <li><i class="icon-font" style="color:#E9BF37">&#xe61b;</i>起送价最低</li>
        <li><i class="icon-font" style="color:#5CD1C4">&#xe6fb;</i>配送速度最快</li>
        <li><i class="icon-font" style="color:#F1C178">&#xe60f;</i>评分最高</li>
    </ul>
</div>