<div class="warp">
    <div class="sh-box">
        <p>配送方式</p>
        <ul>
            <li>不限</li>
            <li><i class="icon-font" style="color: #0298FF">&#xe640;</i>  蜂鸟专送</li>
        </ul>
        <p>商家属性(可多选)</p>
        <ul>
            <li><i class="icon-font" style="color: #70CDEC">&#xf02b5;</i>  品牌商家</li>
            <li><i class="icon-font" style="color: #B8B8B8">&#xe608;</i>  外卖保</li>
            <li><i class="icon-font" style="color: #EFA96E">&#xe606;</i>  新店</li>
            <li><i class="icon-font" style="color: #B8B8B8">&#xe607;</i>  开发票</li>
            <li><i class="icon-font" style="color: #EFA96E">&#xe649;</i>  在线支付</li>
            <li><i class="icon-font" style="color: #70CDEC">&#xe60a;</i>  准时达</li>
        </ul>
        <div class="btn">
            <span class="clear">清空</span>
            <span class="confirm">确定</span>
        </div>
    </div>
</div>